using System;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading.Tasks;

namespace {{baseName}}.Api
{
    public class {{classname}}
    {
        private readonly HttpClient _httpClient;

        public {{classname}}(HttpClient httpClient)
        {
            _httpClient = httpClient;
        }

        public async Task<{{returnType}}> {{operationId}}Async({{#allParams}}{{paramType}} {{paramName}}, {{/allParams}})
        {
            var request = new HttpRequestMessage(HttpMethod.{{httpMethod}}, "{{path}}");
            {{#allParams}}
            {{#isQueryParam}}
            request.RequestUri = new Uri(request.RequestUri, $"{{{baseName}}}={{paramName}}");
            {{/isQueryParam}}
            {{#isPathParam}}
            request.RequestUri = new Uri(request.RequestUri, $"{{{baseName}}}={{paramName}}");
            {{/isPathParam}}
            {{#isBodyParam}}
            request.Content = new StringContent({{paramName}}, Encoding.UTF8, "application/json");
            {{/isBodyParam}}
            {{/allParams}}

            var response = await _httpClient.SendAsync(request);
            response.EnsureSuccessStatusCode();

            var content = await response.Content.ReadAsStringAsync();
            return {{returnType}}.FromJson(content);
        }
    }
}
